force-app/main/default/flows/Check_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>check</name>
        <label>check</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>CheckStatusAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jobId</name>
            <value>
                <elementReference>Job_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resultId</name>
            <value>
                <elementReference>Result_Input</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckStatusAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Check Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Inputs</name>
        <label>Inputs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <fields>
            <name>Job_Input</name>
            <dataType>String</dataType>
            <fieldText>Job Input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Result_Input</name>
            <dataType>String</dataType>
            <fieldText>Result Input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Variables</name>
            <fieldText>&lt;p&gt;Msg: {!check.errorMessage}&lt;/p&gt;&lt;p&gt;Progress: {!check.progressStatus}&lt;/p&gt;&lt;p&gt;Id: {!check.resultId}&lt;/p&gt;&lt;p&gt;Status: {!check.status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
