force-app/main/default/flows/MC_Callback_Handler_Test_Flow_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Result_Data_JSON</name>
        <label>Set Result Data JSON</label>
        <locationX>735</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>Job_Step.ResultDataJson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Result Data JSON from Previous Step</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Result_Data_JSON</targetReference>
        </connector>
    </assignments>
    <interviewLabel>MC Callback Handler Test Flow 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC Callback Handler Test Flow 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Job_Step</name>
        <label>Job Step</label>
        <locationX>731</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Result_Data_JSON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>result.JobStep__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobStep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Result_Data_JSON</name>
        <label>Update Result Data JSON</label>
        <locationX>739</locationX>
        <locationY>574</locationY>
        <inputReference>Job_Step</inputReference>
    </recordUpdates>
    <start>
        <locationX>604</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Job_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
</Flow>
