force-app/main/default/flows/test_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>DummyName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashok Dummy</stringValue>
        </value>
    </constants>
    <formulas>
        <name>topicUri</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-result/&apos; + {!resultId}</expression>
    </formulas>
    <interviewLabel>test flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Done_event</name>
        <label>Publish Done event</label>
        <locationX>384</locationX>
        <locationY>495</locationY>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topic_Uri__c</field>
            <value>
                <elementReference>topicUri</elementReference>
            </value>
        </inputAssignments>
        <object>Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>393</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Update_Result_Json</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DummyName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result_Json</name>
        <label>Update Result Json</label>
        <locationX>391</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Publish_Done_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result_Data__c</field>
            <value>
                <elementReference>ResultJson</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordUpdates>
    <start>
        <locationX>266</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;isSuccess&quot;: true
}</text>
    </textTemplates>
    <textTemplates>
        <name>ResultJson</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{

 &quot;key1&quot;: &quot;value1&quot;,

&quot;key2&quot;: [1,2,3,4]

}</text>
    </textTemplates>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
